[Unit]
Description=LCD

[Service]
WorkingDirectory=/home/skywick/U6143_ssd1306/C
ExecStart=/home/skywick/U6143_ssd1306/C/display
User=skywick
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target